.leaderboard {
    z-index 10
    position fixed
    width 100%
    height 100vh
    overflow hidden

    will-change transform
    transform translate3d(70%, 0, 0)
    transition transform 0.8s $ease-in-out-expo, z-index 0.8s linear 0.8s

    &.is-active {
        z-index 12
        transform translate3d(0, 0, 0)
        transition transform 0.8s $ease-in-out-expo
    }

    &__button {
        z-index 1
        position fixed
        bottom 0
        right calc(70% - 1px)
        background-color $red

        font-family 'SharpGrotesk-SemiBold25'
        color $white
        padding 10px

        cursor pointer

        transform-origin bottom left
        transform translateX(100%) rotateZ(-90deg)
    }

    &__popin {
        z-index 2
        position fixed
        right 0
        top 0
        background-color $red

        height 100vh
        width 70%

        overflow hidden

        &__wrapper {
            position relative
            margin 150px 40px 40px 40px
            padding 0px 40px 40px 40px
            overflow-y scroll

            // will-change transform
            // transform translate3d(-100%, 0, 0)
            // transition transform 0.8s $ease-in-out-expo

            // .is-active & {
            //     transform translate3d(0, 0, 0)
            // }

            &:before {
                z-index 2
                content ''
                position fixed
                height 3px
                width calc(70% - 160px)
                top 150px
                background-color $white
            }
        }

        &__title {
            z-index 2
            position fixed
            background-color $red
            width 70%
            left 30%
            padding 0 80px
            top 40px

            // will-change transform
            // transform translate3d(-100%, 0, 0)

            // .is-active & {
            //   transform translate3d(0, 0, 0)
            // }
        }

        &__cell {
            position relative
            width 100%
            height 70px
            border 3px solid $white
            margin-top -3px

            display flex
            flex-direction row
            flex-wrap nowrap

            &.is-first {
                margin-top 0
            }

            &.is-yours {
                background-color $purple
            }

            &--left, &--right {
                position relative
                height 100%
                width 50%
                color $white
                text-align center

                vertical-align middle
                display inline-block

                &:before {
                    content: ''
                    display inline-block
                    height 100%
                    vertical-align middle
                }

                .leaderboard__popin__title & {
                    font-family 'SharpGrotesk-SemiBold25'
                    font-size 20px
                }
            }

            &--left {
                font-size 14px
                font-family 'SharpGrotesk-Medium20'
                letter-spacing 1.2px

                &:after {
                    content ''
                    height 100%
                    width 3px
                    background-color $white
                    position absolute
                    right 0
                    transform translateX(50%)
                }
                // border-style inset
            }

            &--right {
                font-size 18px
                font-family 'SharpGrotesk-SemiBold20'
                letter-spacing 1px
            }

            &__position {
                display flex
                justify-content center
                align-items center

                position absolute
                top 50%
                left 0
                transform translate3d(-50%, -50%, 0)
                height 40px
                width 40px

                font-size 25px
                border-radius 50%
                color $white
                font-family 'SharpGrotesk-SemiBold20'
                font-size 14px

                background-color $red
                border 3px solid $white

                &.is-purple {
                    background-color $purple
                    border-width 0

                    .is-first & {
                        background-color $yellow
                    }
                }

                .is-yours & {
                    background-color $purple
                    cursor pointer

                    &:before, &:after {
                        position absolute
                        content ''
                        width 12px
                        height 2px
                        background-color $white
                        display block
                    }

                    &:after {
                        transform rotate(90deg)
                    }
                }
            }

            &__input {
                border none
                background transparent
                outline none
                width 80%
                text-align center
                color $white
                // text-transform uppercase
                font-family 'SharpGrotesk-Book15'
                font-size 18px
                letter-spacing 2.3px

                &::placeholder {
                    color $white
                    text-transform uppercase
                    text-align center
                    font-family 'SharpGrotesk-Book15'
                    font-size 18px
                    letter-spacing 2.3px
                }
            }

            &__you {
                position absolute
                right 0
                top 50%
                transform translate3d(50%, -50%, 0) rotate(-15deg)
                background-color $blue


                &__text {
                    display block
                    position relative
                    top 2px
                    padding 0 4px

                    color $red
                    font-family 'SharpGrotesk-Bold10'
                    letter-spacing 2px
                    font-size 28px
                    text-transform uppercase
                }
            }
        }
    }
}
