.page-quiz {
    height 100vh
    &__title {
        position relative

        top 50%
        transform translateY(-50%)

        margin 0

        text-align center
        color $white
    }

    &__skip {
        cursor pointer

        position absolute
        z-index 3

        top 50%
        transform translateY(-50%)
        right 50px

        color $white
        font-size 20px
    }
}
