.page-quiz {
    height 100vh

    .app-logo {
        position absolute
        top 0
        left 0
        width 15%
    }

    &__skip {
        cursor pointer

        position absolute
        z-index 3

        top 50%
        transform translateY(-50%)
        right 50px

        color $white
        font-size 20px
    }
}
