.page-quiz {
    height 100vh

    &__skip {
        cursor pointer

        position absolute
        z-index 3

        top 50%
        transform translateY(-50%)
        right 50px

        color $white
        font-size 20px
    }
}
