<div class="xp-container fit" ref="container">
    <div class="xp-item">
        <img class="xp-item__image" src="/static/breaking-bad-svg/alembic.svg" />
    </div>
    <div class="xp-item">
        <img class="xp-item__image" src="/static/breaking-bad-svg/poultry_leg.svg" />
    </div>
    <div class="xp-item">
        <img class="xp-item__image" src="/static/breaking-bad-svg/oil_drum.svg" />
    </div>
    <div class="xp-item">
        <img class="xp-item__image" src="/static/breaking-bad-svg/money_bag.svg" />
    </div>
    <div class="xp-item">
        <img class="xp-item__image" src="/static/breaking-bad-svg/camping_car.svg" />
    </div>
</div>
