body.isFinishPage {
    background-color $pink !important
    background-image url('/static/finish-screen/background.svg')
    background-repeat no-repeat
    background-position center center
    background-size 70%
}
.page-finish {
    z-index 6
    @keyframes bannerTranslate {
        from { transform: translate3d( 0, 0, 0 ) }
        to { transform: translate3d( -50%, 0, 0 ) }
    }

    $w = 35vw
    $size = 3 * $w
    &__banner {
        position relative
        top 25%
        width $size * 2
        animation bannerTranslate 5s infinite linear
    }
    &__banner-line {
        position: absolute;
        top: 0;
        width $size

        &--first {
            left: 0;
        }
        &--second {
            left: $size
        }
    }
    &__banner-item {
        width $w

        img {
            width 100%
        }
    }
    &__points {
        position absolute

        $r = 18%
        right $r
        top 36%
        width 100% - $r
    }
    &__points-text {
        font-family 'SharpGrotesk-Bold10'
        font-size 11vh
        letter-spacing 0.39vw

        background-color $red

        padding 1vh 3vw 0vh
    }
    &__points-background {
        position absolute

        right 0
        bottom 0

        width 100%
        height 100%

        z-index -1

        background-color $red
    }
    &__congrats {
        position absolute

        left 50%
        transform translateX(-50%)
        bottom 23%
    }
    &__congrats-text {
        font-family 'SharpGrotesk-Bold10'
        font-size 5vh
        letter-spacing 0.39vw

        background-color $yellow

        padding 2vh 3vw 1.5vh

        sup {
            font-size 60%
        }
    }
    &__transition-out {
        background-color $purple
        transform scaleY(0)
    }
}
