<div class="page-finish pos-abs-tl fit">
    <div class="page-finish__banner">
        <div class="page-finish__banner-line page-finish__banner-line--first">
            <div class="page-finish__banner-item display-inline-block" v-for="count in bannerCount"><img src="/static/finish-screen/score.svg"></div>
        </div>
        <div class="page-finish__banner-line page-finish__banner-line--second">
            <div class="page-finish__banner-item display-inline-block" v-for="count in bannerCount"><img src="/static/finish-screen/score.svg"></div>
        </div>
    </div>
    <div class="page-finish__position text-right" ref="position">
        <div class="page-finish__position-background" ref="positionBg"></div>
        <p class="page-finish__position-text display-inline-block color--white" ref="positionText">You are {{position}}<sup>th</sup></p>
    </div>
    <div class="page-finish__cta text-right overflow-h btn" ref="cta" @click="onClickFinish">
        <p class="page-finish__cta-text display-inline-block color--white uppercase" ref="ctaText">check your results</p>
    </div>
    <div class="page-finish__transition-out pos-abs-tl fit" ref="transitionOut"></div>
</div>
