.black-mirror {

    &__content {
        margin 12.5vh 0

        &__line {
            display flex
            justify-content center

            opacity 0
            will-change transform
            transition all 0.6s $ease-out-quart

            &:first-child {
                margin-bottom 3.5vh
                transform translate3d(-20px, 0, 0)

                &.has-appeared {
                    opacity 1
                    transform translate3d(0, 0, 0)
                    transition all 0.6s $ease-out-quart
                }
            }

            &:last-child {
                transform translate3d(20px, 0, 0)

                &.has-appeared {
                    opacity 1
                    transform translate3d(0, 0, 0)
                    transition all 0.6s $ease-out-quart
                }
            }
        }
    }

    &__drive, &__couple, &__neon--dark, &__neon--light, &__road {
        background-size 100%
        background-repeat no-repeat
    }

    &__road {
        position relative

        background-image: url('/static/black-mirror/road/road-bg.png')
        background-position: top 6px left 0;

        margin-right 1.6vw

        &__car {
            position absolute
            bottom 0%
            right 3%

            width: 45.51%

            .is-active & {
                animation-name drive
                animation-duration 1.5s
                animation-delay 0.2s
                animation-iteration-count infinite
            }
        }

        &__sparkles {
            position relative
        }

        &__sparkle {
            position absolute
            width 10px
            height auto

            &.sparkle-1 {
                left 28%
                top 40%
            }

            &.sparkle-2 {
                left 30%
                top 45%
            }

            &.sparkle-3 {
                left 35%
                top 50%
            }

            &.sparkle-8 {
                left 35%
                top 38%
            }

            &.sparkle-4 {
                left 40%
                top 44%
            }

            &.sparkle-5 {
                left 42%
                top 40%
            }

            &.sparkle-6 {
                left 45%
                top 42%
            }

            &.sparkle-7 {
                left 51%
                top 38%
            }
        }
    }

    &__couple {
        background-image: url('/static/black-mirror/couple-bg.png')

        &__drop {
            opacity 0
            width 2%

            transition opacity 0.5s

            .is-active & {
                opacity 1
            }
        }
    }

    &__neon {
        margin-right 1.6vw

        &--dark {
            background-image: url('/static/black-mirror/neon-bg.png')
            opacity 1

            .is-active & {
                opacity 0
            }
        }

        &--light {
            background-image: url('/static/black-mirror/neon-light-bg.png')
            opacity 0

            .is-active & {
                opacity 1
            }
        }
    }

    &__drive {
        background-image: url('/static/black-mirror/drive/drive-bg.png')

        &__glass {

            &--reflection--left--1, &--reflection--left--2, &--reflection--right--1, &--reflection--right--2 {
                width 100%
                position absolute
                // top 0
                // left 0

                opacity 0

                will-change transform

                -webkit-mask-size 100% 100%
                mask-size 100% 100%

                -webkit-mask-mode alpha
                mask-mode alpha

                -webkit-mask-repeat no-repeat
                mask-repeat no-repeat

                .is-active & {
                    opacity 1

                    animation-duration 1s
                    animation-delay 0s
                    animation-timing-function linear
                    animation-iteration-count infinite
                }
            }

            &--reflection--left--1, &--reflection--left--2 {
                height 61.5%
                width auto
                bottom 0
                left 46%
            }

            &--reflection--right--1, &--reflection--right--2 {
                height 61%
                width auto
                bottom 0
                left 66.5%
            }

            &--reflection--left {

                &--1 {
                    -webkit-mask-image url(/static/black-mirror/drive/glass-mask-1-left-single.png)
                    mask-image url(/static/black-mirror/drive/glass-mask-1-left-single.png)

                    .is-active & {
                        animation-name reflection
                    }
                }

                &--2 {
                    -webkit-mask-image url(/static/black-mirror/drive/glass-mask-1-left-single.png)
                    mask-image url(/static/black-mirror/drive/glass-mask-1-left-single.png)

                    .is-active & {
                        animation-name reflection-2
                    }
                }
            }

            &--reflection--right {

                &--1 {
                    -webkit-mask-image url(/static/black-mirror/drive/glass-mask-1-right-single.png)
                    mask-image url(/static/black-mirror/drive/glass-mask-1-right-single.png)

                    .is-active & {
                        animation-name reflection
                    }
                }

                &--2 {
                    -webkit-mask-image url(/static/black-mirror/drive/glass-mask-1-right-single.png)
                    mask-image url(/static/black-mirror/drive/glass-mask-1-right-single.png)

                    .is-active & {
                        animation-name reflection-2
                    }
                }
            }

            &__trees {

                -webkit-mask-image url(/static/black-mirror/drive/palmtree-mask.png)
                mask-image url(/static/black-mirror/drive/palmtree-mask.png)

                -webkit-mask-size 100% 100%
                mask-size 100% 100%

                -webkit-mask-mode alpha
                mask-mode alpha

                &__palm--big, &__palm--big--2, &__palm--big--3, &__palm--big--4 {

                    opacity 0

                    .is-active & {
                        opacity 1
                        animation-name palmtrees
                        animation-delay: 0s
                        animation-duration 1s
                        animation-timing-function linear
                        animation-iteration-count infinite
                    }
                }

                &__palm--big {

                    .is-active & {
                        animation-delay: 0s
                    }
                }

                &__palm--big--2 {

                    .is-active & {
                        animation-delay: 0.5s
                    }
                }

                 &__palm--big--3 {

                    .is-active & {
                        animation-delay: 1s
                    }
                }

                &__palm--big--4 {

                    .is-active & {
                        animation-delay: 1.5s
                    }
                }

                &__palm--big, &__palm--big--2, &__palm--big--3, &__palm--big--4 {
                    width 16%
                    bottom -8%
                    left 26%
                }

                &__palm--little, &__palm--little--2 {
                    width 10%
                    bottom 0
                    left 38%
                }

            }
        }
    }
}

@keyframes drive {
    0% {
        transform translate3d(0, 0, 0)
    }

    10% {
        transform translate3d(0px, -2px, 0)
    }

    20% {
        transform translate3d(0px, 0px, 0)
    }

    30% {
        transform translate3d(0px, 1px, 0)
    }

    40% {
        transform translate3d(0px, 0px, 0)
    }

    50% {
        transform translate3d(0px, -2px, 0)
    }

    60% {
        transform translate3d(0px, 0px, 0)
    }

    70% {
        transform translate3d(0px, -3px, 0)
    }

    80% {
        transform translate3d(0px, 0px, 0)
    }

    90% {
        transform translate3d(0px, 1px, 0)
    }

    100% {
        transform translate3d(0px, 0px, 0)
    }
}

@keyframes reflection {
    0% {
        transform translate3d(0, 0, 0)
        -webkit-mask-position-x 0
    }

    100% {
        transform translate3d(112px, 0, 0)
        -webkit-mask-position-x -112px
    }
}

@keyframes reflection-2 {
    0% {
        transform translate3d(-112px, 0, 0)
        -webkit-mask-position-x 112px
    }

    100% {
        transform translate3d(0, 0, 0)
        -webkit-mask-position-x 0
    }
}

@keyframes palmtrees {
    0% {
        transform translate3d(-100px, 0, 0) scale(1.7)
    }

    100% {
        transform translate3d(120px, 0, 0) scale(0.5)
    }
}
