.the-crown-svg {
    background-color: #f7e0DF
    height 100vh

    .queen {

        .st0{fill:#5f6a9b}
        .st2{fill:#fff}
        .st3{fill:#606060}
        .st5{fill:#494949}
        .st12{fill:#5b5b5b}
        .st13{fill:#f0e5db}
        .st18{fill:#d3cac2}
        .st19{fill:#515151}

        svg {
            height 75%
        }
    }

    .corgi {

        .st0{fill:#fdfcf8}
        .st1{fill:#ffcb83}
        .st2{fill:#ead8ca}
        .st3{fill:#5b5b5b}

        svg {
            height 25%
        }
    }
}
