.xp-container {
    position relative
    $h = 60vh
    height $h
    width "calc( (%s * 3) / 4)" % $h
    background-color $pink
}
.xp-item {
    transform-origin 50% 21%
}
.xp-image {
    height 100%
    max-width 100%
}
