<div class="center-flex fit">
    <div class="xp-container overflow-h text-center" ref="container">
        <div class="xp-item pos-abs-tl fit">
            <img class="xp-image" src="/static/house-of-cards/back.png" />
        </div>
        <div class="xp-item pos-abs-tl fit">
            <img class="xp-image" src="/static/house-of-cards/front.png" />
        </div>
        <div class="xp-item pos-abs-tl fit">
            <img class="xp-image" src="/static/house-of-cards/back.png" />
        </div>
        <div class="xp-item pos-abs-tl fit">
            <img class="xp-image" src="/static/house-of-cards/front.png" />
        </div>
        <div class="xp-item pos-abs-tl fit">
            <img class="xp-image" src="/static/house-of-cards/back.png" />
        </div>
        <div class="xp-item pos-abs-tl fit">
            <img class="xp-image" src="/static/house-of-cards/front.png" />
        </div>
    </div>
</div>
