.page-leaderboard {
    height 100vh

    &__content {
        position relative

        top 50%
        transform translateY(-50%)

        margin 0

        text-align center
        color $white
    }
}
