.the-good-place {
    position relative

    &__bg--1, &__bg--2 {
        position absolute
        top 0
    }

    &__bg--1 {
        will-change transform

        transform translate3d(0, 0, 0)
    }

    &__bg--2 {
        will-change transform

        transform translate3d(0, 100%, 0)
    }
}

.fork {

    &--container {
        height 25%

        display flex
        justify-content center
        align-items center
    }

    &--svg {
        width 95%
    }

    &__path {
        fill none
        stroke #000
    }
}

.dink, .ashhole, .bullshirt, .motherforker, .messy, .kant, .holy {
    position absolute
    opacity 0
}

.dink {
    width 26.6%
}

.ashhole {
    width 53.9%
}

.bullshirt {
    width 53.9%
}

.motherforker {
    width 82.2%
}

.messy {
    width 62.6%
}

.kant {
    width 82.8%
}

.holy {
    width 62.15%
}

// .dink, .ashhole, .bullshirt, .holy, .kant, .motherforker, .messy {
//     display inline-block
//     line-height 1
//     padding 10px
// }

// .dink {
//     color #F7E0DF
//     background-color #F73E39
//     font-family 'SharpGrotesk-Bold10'
//     font-size 50vh
// }

// .ashhole {
//     color #F7C046
//     background-color #034E6D
//     font-family 'SharpGrotesk-SemiBold25'
// }

// .bullshirt {
//     color #F73E39
//     background-color #B7D3D7
//     font-family 'SharpGrotesk-Bold10'
// }

// .holy {
//     color #F73E39
//     background-color #000000
//     font-family 'SharpGrotesk-SemiBold25'
// }

// .kant {
//     color #F73E39
//     background-color #F7E0DF
//     font-family 'SharpGrotesk-Bold10'
// }

// .motherforker {
//     color #F7C046
//     background-color #5934A5
//     font-family 'SharpGrotesk-SemiBold25'
// }

// .messy {
//     color #B7D3D7
//     background-color #5934A5
//     font-family 'SharpGrotesk-Bold10'
// }
