.the-good-place {
    position relative

    &__bg--1, &__bg--2 {
        position absolute
        top 0
    }

    &__bg--1 {
        will-change transform

        transform translate3d(0, 0, 0)
    }

    &__bg--2 {
        will-change transform

        transform translate3d(0, 100%, 0)
    }
}

.fork {

    &--container {
        height 20%

        display flex
        justify-content center
        align-items center
    }

    &--svg {
        width 95%
    }

    &__path {
        fill none
        stroke #000
    }
}

.dink, .ashhole, .bullshirt, .motherforker, .messy, .kant, .holy {
    position absolute
    opacity 0

    will-change transform
}

.dink {
    z-index 3

    width 26.6%

    right 20vw
    top 35vh

    transform-origin top right
    transform rotate(-27deg)
}

.ashhole {
    z-index 4

    width 53.9%

    right 10vw
    top 30vh

    transform-origin top right
    transform rotate(3deg)
}

.bullshirt {
    z-index 4

    width 53.9%

    bottom 12vh
    left 7vw

    transform-origin top left

    transform rotate(9deg)
}

.motherforker {
    width 82.2%
}

.messy {
    opacity 0
    z-index 2

    width 57.6%

    top -7vh
    left 10vw

    transform-origin top left

    transform rotate(12deg)
}

.kant {
    z-index 3

    width 82.8%

    top -4vh
    left 13vw

    transform-origin top right

    transform rotate(-12deg)
}

.holy {
    z-index 3

    width 62.15%

    bottom 7vh
    right -2vw

    transform-origin top right

    transform rotate(-9deg)
}
