.the-good-place {
    position relative

    &__bg--1, &__bg--2 {
        position absolute
        top 0

        // will-change transform

        // opacity 0
        // transition all 0.8s $ease-out-quart

        // &.has-appeared {
        //     opacity 1
        //     transition all 0.8s $ease-out-quart
        // }
    }

    &__bg--1 {
        opacity 0
        will-change transform

        transform translate3d(0, 0, 0)
    }

    &__bg--2 {
        opacity 0
        will-change transform

        transform translate3d(0, 100%, 0)
    }
}

.fork {

    &--container {
        height 20%

        display flex
        justify-content center
        align-items center
    }

    &--svg {
        width 95%
    }

    &__path {
        fill none
        stroke #000
    }
}

.dink, .ashhole, .bullshirt, .motherforker, .messy, .kant, .holy {
    position absolute
    opacity 0

    will-change transform
}

.dink {
    z-index 3

    width 26.6%

    left 53.4vw
    //top 35vh
    top 0

    transform-origin top right
    transform rotate(-27deg)
}

.ashhole {
    z-index 4

    width 53.9%

    right 10vw
    // top 30vh
    top 0

    transform-origin top right
    transform rotate(3deg)
}

.bullshirt {
    z-index 4

    width 53.9%

    // bottom 12vh
    top 0
    left 7vw

    transform-origin top left

    transform rotate(9deg)
}

.motherforker {
    width 82.2%
}

.messy {
    opacity 0
    z-index 2

    width 57.6%

    // top -7vh
    top 0
    left 10vw

    transform-origin top left

    transform rotate(12deg)
}

.kant {
    z-index 3

    width 82.8%

    // top -4vh
    top 0
    left 13vw

    transform-origin top right

    transform rotate(-12deg)
}

.holy {
    z-index 3

    width 62.15%

    // bottom 7vh
    top 0
    right -2vw

    transform-origin top right

    transform rotate(-9deg)
}
