<div class="center-flex fit">
    <div class="xp-container overflow-h text-center" ref="container">
        <div class="xp-item pos-abs-tl fit" :style="{ zIndex: indexes[0] }">
            <img class="xp-image" src="/static/orphan-black/shape_1.png"/>
        </div>
        <div class="xp-item pos-abs-tl fit" :style="{ zIndex: indexes[1] }">
            <img class="xp-image" src="/static/orphan-black/shape_2.png"/>
        </div>
        <div class="xp-item pos-abs-tl fit" :style="{ zIndex: indexes[2] }">
            <img class="xp-image" src="/static/orphan-black/shape_3.png"/>
        </div>
        <div class="xp-item pos-abs-tl fit" :style="{ zIndex: indexes[3] }">
            <img class="xp-image" src="/static/orphan-black/shape_4.png"/>
        </div>
        <div class="xp-item pos-abs-tl fit" :style="{ zIndex: indexes[4] }">
            <img class="xp-image" src="/static/orphan-black/shape_5.png"/>
        </div>
    </div>
</div>
