.game-type-manager {
    z-index 2

    font-family: 'SharpGrotesk-Bold10'
    text-align center
    text-transform uppercase
    letter-spacing 20px
    line-height 160px
    font-size 20vh

    user-select none
    pointer-events none

    &__wrapper {
        width 80%
    }

    &__text {

    }
}
