.game-type-manager {
    z-index 9

    font-family: '-Bold10'
    text-align center

    user-select none
    pointer-events none

    &__wrapper {
    }

    &__text {
        text-transform uppercase
        letter-spacing 1.4vw
        line-height 160px
        font-size 20vh
        white-space nowrap

        &.is-tuto {
            color $red
        }
    }
}
