// --------------------------------------------------
// Grids
// --------------------------------------------------

for grid in $grids {
    for index in (1..grid){

        .u-w{index}of{grid} {
            width: round((100% / grid) * index, 3)
        }

        .u-vw{index}of{grid} {
            width: round((100vw / grid) * index, 3)
        }

        .u-h-vw{index}of{grid} {
            height: round((100vw / grid) * index, 3)
        }

        /*.u-h-vh{index}of{grid} {
            height: round((100vh / grid) * index, 3)
        }*/

        .u-marg-l-w{index}of{grid} {
            margin-left: round((100% / grid) * index, 3)
        }

        .u-marg-l-vw{index}of{grid} {
            margin-left: round((100vw / grid) * index, 3)
        }

        .u-marg-r-w{index}of{grid} {
            margin-right: round((100% / grid) * index, 3)
        }

        .u-marg-r-vw{index}of{grid} {
            margin-right: round((100vw / grid) * index, 3)
        }

        .u-marg-x-w{index}of{grid} {
            margin-left: round((100% / grid) * index, 3)
            margin-right: round((100% / grid) * index, 3)
        }

        .u-pad-x-w{index}of{grid} {
            padding-left: round((100% / grid) * index, 3)
            padding-right: round((100% / grid) * index, 3)
        }

        .u-pad-l-w{index}of{grid} {
            padding-left: round((100% / grid) * index, 3)
        }

        .u-pad-r-w{index}of{grid} {
            padding-right: round((100% / grid) * index, 3)
        }

        .u-marg-b-vh{index}of{grid} {
            margin-bottom: round((100vh / grid) * index, 3)
        }

        .u-marg-b-vw{index}of{grid} {
            margin-bottom: round((100vw / grid) * index, 3)
        }

        .u-marg-t-vh{index}of{grid} {
            margin-top: round((100vh / grid) * index, 3)
        }

        .u-marg-t-vw{index}of{grid} {
            margin-top: round((100vw / grid) * index, 3)
        }

        .u-pad-t-vh{index}of{grid} {
            padding-top: round((100vh / grid) * index, 3)
        }

        .u-pad-y-vh{index}of{grid} {
            padding-top: round((100vh / grid) * index, 3)
            padding-bottom: round((100vh / grid) * index, 3)
        }
    }
}

// grid responsive

for breakpoint in $breakpoints {
    @media $breakpoints[breakpoint] {

        for grid in $grids {
            for index in (1..grid){

                /*.u-h-vh{index}of{grid}\\\@{breakpoint} {
                    height: round((100vh / grid) * index, 3)
                }*/

                .u-w{index}of{grid}\\\@{breakpoint} {
                    width: round((100% / grid) * index, 3)
                }

                .u-marg-l-w{index}of{grid}\\\@{breakpoint} {
                    margin-left: round((100% / grid) * index, 3)
                }

                .u-marg-r-w{index}of{grid}\\\@{breakpoint} {
                    margin-right: round((100% / grid) * index, 3)
                }

                .u-pad-l-w{index}of{grid}\\\@{breakpoint} {
                    padding-left: round((100% / grid) * index, 3)
                }

                .u-pad-r-w{index}of{grid}\\\@{breakpoint} {
                    padding-right: round((100% / grid) * index, 3)
                }

                .u-pad-x-w{index}of{grid}\\\@{breakpoint} {
                    padding-left: round((100% / grid) * index, 3)
                    padding-right: round((100% / grid) * index, 3)
                }

                .u-pad-y-vh{index}of{grid}\\\@{breakpoint} {
                    padding-top: round((100vh / grid) * index, 3)
                    padding-bottom: round((100vh / grid) * index, 3)
                }
            }
        }
    }
}

.u-kill-pad {
    padding 0 !important
}

