.the-crown-svg {
    background-color #5934A5
    height 100vh

    .queen {

        svg {
            height 75%
        }
    }

    #corgi {

        .tongue {
            animation-name tongue
            animation-duration 0.4s
            animation-iteration-count infinite
            animation-direction alternate
            // animation-fill-mode both
        }

        @keyframes tongue {
            from {
                transform translate3d(0, 0, 0)
            }
            to {
                transform translate3d(0, -1%, 0)
            }
        }
    }
}
