.page-tuto {
    height 100vh
    background-color $purple

    &__wrapper {
        width 68%
        max-width 960px
    }

    &__headline {
        font-family 'SharpGrotesk-Medium20'
        font-size 30px
        line-height 45px
        letter-spacing 0.86px
    }
}
