<div class="animation pos-abs-tl fit center-flex uppercase" ref="container">
    <div class="animation__part animation__part--left display-inline-block overflow-h">
        <p class="animation__text animation__text--left" ref="leftText">well</p>
        <div class="animation__mask animation__mask--left" ref="leftMask"></div>
    </div>
    <div class="animation__part animation__part--right display-inline-block overflow-h">
        <p class="animation__text animation__text--right" ref="rightText">done</p>
        <div class="animation__mask animation__mask--right" ref="rightMask"></div>
    </div>
</div>
