.page-home {
    height 100vh
    background-color $yellow
    img {
        width 60%
        margin-bottom 2vh
    }
    &__wrapper {
        width 50%

        margin 0 auto

        opacity 0
        will-change transform, opacity

        transform scale(0.75)

        &.is-active {
            opacity 1

            transform scale(1)
            transition opacity 0.8s $ease-out-quart, transform 0.6s $ease-out-quart
        }
    }
    &__headline {
        font-family 'SharpGrotesk-Light10'
        font-size 42px
        letter-spacing 5px
    }
    &__description {
        font-family 'SharpGrotesk-Medium20'
        font-size 18px
        line-height 32px
        letter-spacing 1px
    }
    &__button {
        margin-top 2vh
        text-transform uppercase
        padding 3vh 8vw
        font-size 22px
        font-family 'SharpGrotesk-Bold20'
    }

    &__intro {
        z-index 4

        &.is-hidden {
            opacity 0
            visibility hidden
        }

        &__video-elem {
            position fixed
            top 50%
            left 50%
            height 100vh
            // z-index -100
            transform translateX(-50%) translateY(-50%) scale(1.1)
        }
    }

    &__overlay {
        z-index 5

        opacity 1
        background-color transparentify($red, 0.9)
        transition opacity 2s $ease-out-expo

        &.is-hidden {
            opacity 0
        }

        &-inner {
            opacity 0

            will-change transform, opacity

            transform scale(0.75)
            transition opacity 0.4s $ease-out-quart, transform 0.4s $ease-out-quart


            &.is-active {
                opacity 1
                transform scale(1)
            }
        }


        &-description {
            font-family 'SharpGrotesk-Medium20'
            font-size 30px
            line-height 45px
            letter-spacing 0.86px
            padding 40px 0
        }

        &-button {
            border solid 3px $white
            padding 15px 25px
        }
    }
}
