.page-home {
    height 100vh
    background-color $yellow
    .app-logo {
        height 30%
    }
    &__wrapper {
        width 50%

        margin 0 auto
    }
    &__description {
        font-family 'SharpGrotesk-Medium20'
        font-size 18px
        line-height 32px
        letter-spacing 1px
    }
    &__button {
        margin-top 5vh
        text-transform uppercase
        padding 3vh 8vw
        border solid 1px $white
    }
}
