<div class="page-home">
    <section class="page-home__intro fit pos-abs" ref="intro">
        <video playsinline autoplay muted class="page-home__intro__video-elem" ref="video">
            <source src="/static/video/intro_bingeplease.mp4" type="video/mp4">
        </video>
    </section>
    <section class="page-home__wrapper fit center-flex" ref="home">
        <img src="/static/home/logos.png" alt="">
        <p class="page-home__headline color--white text-center">An interactive quiz about Netflix series.</p>
        <p class="page-home__description color--white text-center">Solve fastest as you can the good answer of this 10 riddles.<br/>Bet you can't guess all of these.<br/>And discover your BingePlease profile !</p>
        <button class="page-home__button btn color--white" @click="onPlayClick">Play</button>
    </section>
</div>
