// --------------------------------------------------
// Colors
// --------------------------------------------------

$black = #1e1e1e
$white = #fafaf6
$yellow = #F7C046
$red = #F73E39
$pink = #F7E0DF
