// --------------------------------------------------
// Colors
// --------------------------------------------------

$black = #1e1e1e
$white = #fff
$yellow = #F7C046
$red = #F73E39
$pink = #F7E0DF
$blue = #B7D3D7
$blue-dark = #034E6D
$purple = #5934A5
