@font-face {
    font-family 'SharpGrotesk-Bold10'
    src url('/static/fonts/SharpGrotesk-Bold10.woff2') format('woff2'),
        url('/static/fonts/SharpGrotesk-Bold10.woff') format('woff')
    font-weight normal
    font-style normal
}

@font-face {
    font-family 'SharpGrotesk-Bold15'
    src url('/static/fonts/SharpGrotesk-Bold15.woff2') format('woff2'),
        url('/static/fonts/SharpGrotesk-Bold15.woff') format('woff')
    font-weight normal
    font-style normal
}

@font-face {
    font-family 'SharpGrotesk-Bold20'
    src url('/static/fonts/SharpGrotesk-Bold20.woff2') format('woff2'),
        url('/static/fonts/SharpGrotesk-Bold20.woff') format('woff')
    font-weight normal
    font-style normal
}

@font-face {
    font-family 'SharpGrotesk-Black20'
    src url('/static/fonts/SharpGrotesk-Black20.woff2') format('woff2'),
        url('/static/fonts/SharpGrotesk-Black20.woff') format('woff')
    font-weight normal
    font-style normal
}

@font-face {
    font-family 'SharpGrotesk-Light10'
    src url('/static/fonts/SharpGrotesk-Light10.woff2') format('woff2'),
        url('/static/fonts/SharpGrotesk-Light10.woff') format('woff')
    font-weight normal
    font-style normal
}
@font-face {
    font-family 'SharpGrotesk-Medium20'
    src url('/static/fonts/SharpGrotesk-Medium20.woff2') format('woff2'),
        url('/static/fonts/SharpGrotesk-Medium20.woff') format('woff')
    font-weight normal
    font-style normal
}

@font-face {
    font-family 'SharpGrotesk-SemiBold20'
    src url('/static/fonts/SharpGrotesk-SemiBold20.woff2') format('woff2'),
            url('/static/fonts/SharpGrotesk-SemiBold20.woff') format('woff')
    font-weight normal
    font-style normal
}

@font-face {
    font-family 'SharpGrotesk-SemiBold25'
    src url('/static/fonts/SharpGrotesk-SemiBold25.woff2') format('woff2'),
            url('/static/fonts/SharpGrotesk-SemiBold25.woff') format('woff')
    font-weight normal
    font-style normal
}

@font-face {
    font-family 'SharpGrotesk-Book15'
    src url('/static/fonts/SharpGrotesk-Book15.woff2') format('woff2'),
            url('/static/fonts/SharpGrotesk-Book15.woff') format('woff')
    font-weight normal
    font-style normal
}

@font-face {
    font-family 'SharpGrotesk-Book25'
    src url('/static/fonts/SharpGrotesk-Book25.woff2') format('woff2'),
            url('/static/fonts/SharpGrotesk-Book25.woff') format('woff')
    font-weight normal
    font-style normal
}

@font-face {
    font-family 'SharpGrotesk-Book20'
    src url('/static/fonts/SharpGrotesk-Book20.woff2') format('woff2'),
            url('/static/fonts/SharpGrotesk-Book20.woff') format('woff')
    font-weight normal
    font-style normal
}
