@font-face {
  font-family: 'SharpGrotesk-Bold10';
  src: url('/static/fonts/SharpGrotesk-Bold10.woff2') format('woff2'),
       url('/static/fonts/SharpGrotesk-Bold10.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
