
// --------------------------------------------------
// Global
// --------------------------------------------------

// -------------------------
// border-box and margin
// -------------------------

$border-box = true

// -------------------------
// breakpoints
// -------------------------

$breakpoints = {
    design: unquote("screen and (min-width: 1600px)")
    xl:     unquote("screen and (max-width: 1440px)")
    lg:     unquote("screen and (max-width: 1280px)")
    md:     unquote("screen and (max-width: 1024px)")
    sm:     unquote("screen and (max-width: 960px)")
    xs:     unquote("screen and (max-width: 770px)")
    xxs:    unquote("screen and (max-width: 480px)")
}

$breakpoints-values = {
    design: 1600
    xl:     1440
    lg:     1280
    md:     1024
    sm:     960
    xs:     770
    xxs:    480
}
